body {
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
}

p {
	font-size: 20px;
}

li {
	list-style: none;
	margin-right: 25px;
}

#primero {
	font-size: 30px;
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu a {
	text-decoration: none;
	background: none;
	color: black;
}
.lista {
	display: flex;
}

.titular {
	text-align: center;
	margin-top: 200px;
}

h1 {
	font-size: 60px;
	margin: 0;
}

h2 {
	font-size: 25px;
	margin-bottom: 40px;
}

a {
	font-size: 14px;
	background: #5cb8ff;
	padding: 20px 30px 20px 30px;
	color: white;
}

header {
	background: url(fondo.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.contenedor {
	max-width: 1280px;
	width: 90%;
	margin: auto;
}

/* ARRANCA SECCION SOBRE MI */

h3 {
	text-align: center;
	font-size: 55px;
	font-weight: normal;
}

.contenedor-sobremi {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.contenedor-parrafo-y-boton {
	width: 42%;
}

.contenedor-parrafo-y-boton p {
	font-size: 18px;
}

.parrafo-final {
	margin-bottom: 30px;
}

.contenedor-servicios {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.servicio {
	width: 25%;
	padding: 50px 38px 50px 38px;
	border-radius: 10px;
	margin-bottom: 40px;
	color: #fff;
}

.violeta {
	background: #5055df;
}

.celeste {
	background: #40a8fa;
}

.servicio h4 {
	font-size: 30px;
	margin: 0;
}

.servicio img {
	float: right;
}

.servicio p {
	font-size: 18px;
}
span {
	font-size: 80px;
	color: blue;
}
.owl-nav {
	text-align: center;
}
.contenedor-porque {
	display: flex;
	text-align: center;
	justify-content: space-around;
}
.contenedor-porque h4 {
	margin: 0;
	font-size: 20px;
}
.contenedor-porque p {
	font-size: 16px;
	line-height: 28px;
}
.porque-singular {
	width: 28%;
}
#blog {
	background-color: #f9fafc;
	padding-top: 50px;
	padding-bottom: 50px;
}
.contenedor-publicaciones {
	display: flex;
	justify-content: space-around;
}
.publicacion {
	width: 30%;
	box-shadow: 1px 1px 14px #ccc;
	padding-bottom: 20px;
}
#blog img {
	width: 100%;
}
#blog h4 {
	font-size: 23px;
	margin: 0;
	padding: 20px;
}
#blog p {
	color: #5a6169;
	line-height: 24px;
	font-size: 16px;
	padding: 10px 20px 20px 20px;
	margin: 0;
}
#blog a {
	display: inline-block;
	margin-left: 20px;
}
.publicacion-segunda img {
	height: 246px;
}
#blog p#parrafo-2 {
	padding: 0px 20px 20px 20px;
}
#que-esperas {
	background: linear-gradient(rgba(199, 199, 199, 0.94), rgba(131, 130, 130, 0.9));
	text-align: center;
	padding: 50px 0 50px 0;
}
#que-esperas h3 {
	font-size: 23px;
	color: black;
	margin-bottom: 40px;
}
#que-esperas a {
	padding: 15px 45px 15px 45px;
	transition: 1s;
}
#que-esperas a:hover {
	color: black;
	transition: 1s;
	transform: scale(1.2);
	display: inline-block;
}
#whatsapp a {
	background: none;
	position: fixed;
	top: 80%;
	right: 1%;
}
.menu-icon {
	display: none;
}

@media (max-width: 480px) {
	nav {
		position: absolute;
		top: 70px;
		left: 0;
		background: #5cb8ff;
		width: 100%;
	}
	nav .lista {
		flex-direction: column;
		display: flex;
	}
	.menu-icon {
		display: block;
	}
}
